h2 {
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    font-weight: 500;
}

.SectionContent {
    padding-top: 1rem;
    padding-left: 38px;
    padding-right: 38px;
}

@media (min-width: 768px) {
    .SectionContent {
        padding-top: 0;
    }
}

@media (min-width: 992px) {
    .SectionContent {
        padding: 0px 80px;
    }
}

@media (min-width: 1200px) {
    .SectionContent {
        padding: 0px 100px;
    }
}