.Button{
    background-color: var(--backgroundAlternate);
    border: 2px solid var(--backgroundAlternate);
    color: var(--textAlternate);
    padding: 0.75rem 2rem;
    border-radius: 25px;
    transition: 400ms;
}

.Button:hover,
.Button:focus,
.Button:active{
    border: 2px solid var(--textAlternate);
    outline: none;
}